@import url(footer.css);
@import url(header.css);
@import url(home/facts.css);
@import url(home/hero.css);
@import url(home/reviews.css);
@import url(home/service.css);
@import url(home/sign-up.css);
@import url(home/sponsors.css);
@import url(home/statictics.css);

@import url(about/company-description.css);
@import url(about/contact-form.css);
@import url(about/about-hero.css);

@import url(home/tabs.css);

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

:root {
  --cta-bg: #796eff;
  --cta-text-color: #f6f3fc;
  --heading-text-color: #35414b;
  --body-text-color: #4e5a65;
  --bg-header: #fbfafe;
  --bg-footer: #1d2830;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

h1,
h2,
h3 {
  color: var(--heading-text-color);
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  color: var(--body-text-color);
}

.btn {
  background-color: var(--cta-bg);
  color: var(--cta-text-color);
  padding: 8px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  scale: 1.1;
}
.btn:active {
  opacity: 60;
}

.white-container {
  background-color: var(--bg-header);
}

.gray-container {
  background-color: var(--cta-text-color);
}

footer {
  background-color: var(--bg-footer);
  color: var(--cta-text-color);
}

.copyright p {
  color: var(--cta-text-color);
}

img {
  border-radius: 25px;
}

ol,
ul {
  list-style: none;
}

input {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid var(--body-text-color);
}

/* input::placeholder {
  color: var(--cta-text-color);
} */

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
