.nav-container-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--bg-header);
}

.logo {
  display: block;
  width: 150px;
}

.nav-container-desktop {
  display: none;
}

.menu-title::before {
  content: "Menu";
  padding: 5px;
  font-weight: bold;
}

.menu-title {
  list-style: none;
}

.navbar-link {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.navbar-item {
  color: var(--cta-bg);
}

a {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
}

a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: currentColor;
  transition: width 0.4s ease-out;
}

a:hover::after {
  width: 100%;
}

.logo-link::after {
  display: none;
}

/* desktop styling for logo and nav bar */
@media (min-width: 768px) {
  .nav-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-header);
  }

  .logo {
    width: 150px;
  }

  .navbar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
  }

  .nav-container-mobile {
    display: none;
  }

  a {
    padding-bottom: 5px;
  }

  a::after {
    height: 2px;
  }
}
