#facts-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px;
  row-gap: 60px;
}

.facts-container h3 {
  text-align: center;
}

.facts-container i {
  text-align: center;
  display: block;
  padding: 10px;
}

.view-more-btn {
  background: var(--cta-bg);
  margin-left: 100px;
  height: 50px;
}

@media only screen and (max-width: 700px) {
  /* display only 3 elements on mobile screens */
  #facts-display .facts-container:nth-child(n + 4) {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  #facts-display {
    display: flex;
    flex-direction: row;
    column-gap: 300px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 80px;
  }

  .facts-container {
    flex: 2 1 200px;
    width: 350px;
  }

  .fact-container {
    margin-left: 150px;
    margin-right: 150px;
  }

  .view-more-btn {
    display: none;
  }
}

.fact-header {
  margin-top: 100px;
}

/* Icon styles for facts section */

.icon-facts-container {
  display: flex;
  justify-content: center;
  width: max-content;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: white;
}

.icon-container-fa-lightbulb {
  background-color: #ec87e4;
}

.icon-container-fa-helmet-safety {
  background-color: #a18cf2;
}

.icon-container-fa-star {
  background-color: #328eea;
}

.icon-container-fa-people-group {
  background-color: #0089cd;
}

.icon-container-fa-leaf {
  background-color: #007fa1;
}

.icon-container-fa-globe {
  background-color: #00706f;
}
