/* mobile hero styling */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 400px;
  padding-bottom: 50px;
  border-radius: 10px;
}

/* hero desktop styling */
@media (min-width: 768px) {
  hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .hero-img {
    width: 600px;
    border-radius: 10px;
  }
}

h1 {
  text-align: center;
  padding: 10px 30px;
}
