.contact {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  margin-top: 30px;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.adress {
  text-align: left;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
}

@media only screen and (min-width: 1000px) {
  .contact {
    flex-direction: row;
    justify-content: space-around;
  }

  .map-container {
    display: flex;
    flex-direction: column;
  }

  .adress {
    margin-top: 3;
    align-items: center;
  }
}

.contact-head {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form p {
  margin-bottom: 2rem;
}

.btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

form a {
  text-decoration: underline;
}

textarea {
  border: 1px solid var(--body-text-color);
}

textarea::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none; /* Ensure placeholder text does not interfere with textarea interactions */
  font-family: "Inter";
  font-size: 14px; /* Adjust font size as needed */
}

input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none; /* Ensure placeholder text does not interfere with textarea interactions */
  font-family: "Inter";
  font-size: 14px; /* Adjust font size as needed */
}

label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.adress p {
  margin-bottom: 20px;
}
